.filter-fields {
    overflow: hidden;
    text-overflow: ellipsis;
}

.custom-scrollbar::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    position: absolute;
}

/* Track */
.custom-scrollbar::-webkit-scrollbar-track {
    /* box-shadow: inset 0 0 5px grey; */
    border-radius: 10px;
    /* position: fixed; */
}/* Handle */
.custom-scrollbar::-webkit-scrollbar-thumb {
    position: fixed;
    background: grey; 
    border-radius: 5px;
}

.filter-go-btn{
    border-radius: 50%;
    font-size: 13px;
    background-color: #5a847e;
    padding: 3px 5px 0px 5px;
    margin: 5px 5px 5px 5px;
    cursor: pointer;
    height: 50%;
}

.filter-add-btn{
    border-radius: 50%;
    font-size: 25px;
    top: 82px;
    z-index: 2;
    background-color: #5a847e;
    left: 3px;
    color: white;
    padding: 7px;
}
@media only screen and (min-width: 991px){
    .filter-go-btn{
        top: 140px;
    }
    
    .filter-add-btn{
        top: 140px;
    }
}

.filter-remove-btn{
    line-height: 1;
    top: -4px;
    z-index: 2;
    background-color: #f8f9fa;
    border-radius: 50%;
    font-size: 14px;
    cursor: pointer;
    display: block;
    color: red;
    right: -10px;
}

.filter-blocks{
    padding-right: 15px;
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 5px;
    min-width: fit-content;
}